<div class="container">
  <div class="row">
    <div class="form-group pull-right">
      <input
        type="text"
        class="search form-control"
        placeholder="Please enter email id"
      />
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Amount</th>
          <th>Currency</th>
          <th>TXN_Date</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of results">
          <th>{{ user.id }}</th>
          <td>{{ user.user }}</td>
          <td>{{ user.amount }}</td>
          <td>{{ user.currency }}</td>
          <td>{{ user.txn_date }}</td>
          <td><button class="btn btn-info">Details</button></td>
          <td><button class="btn btn-danger">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
