<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="alert alert-success" *ngIf="user">
        <strong>Success!</strong> transection added.
      </div>
      <form [(formGroup)]="addForm" (ngSubmit)="onFormSubmit()">
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            class="form-control"
            placeholder="{{ email }}"
            disabled
          />
        </div>
        <div class="form-group">
          <label for="pwd">Amount:</label>
          <input
            type="number"
            class="form-control"
            placeholder="Please enter an amount"
            formControlName="amount"
            min="99"
          />
        </div>
        <div class="form-group">
          <label for="sel1">Currency:</label>
          <select class="form-control" formControlName="currency">
            <option value="EUR">EUR</option>
            <option value="INR">INR</option>
            <option value="GBP">GBP</option>
            <option value="USD">USD</option>
          </select>
        </div>
        <div class="form-group">
          <label for="pwd">txn_date:</label>
          <input
            type="date"
            class="form-control"
            data-date=""
            data-date-format="YYYY-MM-DD"
            placeholder="date"
            formControlName="txn_date"
          />
        </div>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!addForm.valid"
        >
          Add Transaction
        </button>
      </form>
    </div>
  </div>
</div>
